<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link 
    href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
        <link href="/css/materialize.min.css" rel="stylesheet"/>
        <link href="./newChannelForm.css" rel="stylesheet"/>
        <link href="./about.css" type="text/css" rel="stylesheet"/>
    </head>
<body>
    <header>
        <nav>
          <div>
            <h2 class="view">About</h2>
            <div class="resetNav">
            <a href="/" class="home"><i class="material-icons">home</i></a>
            <a href="/getstarted" class="home"><i class="material-icons">person</i></a>
          </div>
          </div>
          </nav>
        </header>
    <section class="about" id="about">
        <div class="description">
          <p>Sumo messenger is an interactive messaging application, 
            which allows you engage in open conversations,secret conversations & 
            provides you with a medium for knowing what your peers think about you through its
            anonymous feed implementations
          </p>
        </div>
      </section>
      <section class="theHow">
          <div class="how-cont">
              <p class="how-title">How to use</p>
          </div>
          <ol>
              <div><p>Getting started</p></div>
              
              <li>Sign Up for a free account</li>
              <li>Head over to you mail box and use the link to activate your account</li>
          </ol>
          <ol>
              <div><p>Adding a User</p></div>
              
              <li> In your channel window you can 
                  look up a user or add them via their chat id </li>
          </ol>  
          <ol>
              <div><p>Receiving anonymous feeds</p></div>
              
              <li> In your profile window, head over to the 
                  links section there you can : <br/>
                  <ul>
                      <li> - Grab your direct feeds link and share with friends and loved ones
                      </li>
                      <li> - Share your feed link through whatsapp </li>
                  </ul>      
            </li>
          </ol>
      </section>
</body>
</html>