<script>
  const LoadRequests = () => {
    fetch("/retrieverequest",{
      method:'GET',
      credentials:'include'
    })
      .then((data) => data.json())
      .then((data) => {
        const badge = $(".controls button:nth-child(2) span");
        badge.text(data.requestLength);
        if(data.requests.length <=0){
          return $('.palsRequest').append(
            `<div class="notfound req"><small>
              you don't have any pending requests</small></div>`
          )
        }
        data.requests.forEach((req) => {
          $(".palsRequest").prepend(`
 
          <li class="collection-item avatar Cards">
      <input class="rid" type="hidden" value="${req.id}"/>
    <img src="${req.img}" alt="" class="circle" height="50px" width="50px">
    <div>
    <span class="title">   
        ${req.name.split(' ')[0]}
    </span>
    <p>
    <small class="brief">
      ${req.desc}
            </small>
    </p></div>
    <div class=" secondary-content">
  <button id="decline" onclick="chatRequestHandler('${req.id}','decline')">decline</button>
  <button id="grant" onclick="chatRequestHandler('${req.id}','grant')">accept</button>
    </div>
  </li>
 `);
        });
      });
  };
  //script for accepting and decline a chat
  const chatRequestHandler = (id, state) => {
    const token = $('input[name="_csrf"]').val();
    $('.requests-loader').css('display','block')
    fetch("/chatrequest", {
      method: "POST",
      credentials:'include',
      headers: {
        "csrf-token": token,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: id,
        state: state,
      }),
    })
      .then((res) => res.json())
      .then((res) => {
        $('.requests-loader').css('display','none')
        const rids = $(".rid");
        const badgea = $(".controls .smally");
        const badgeb = $(".controls .biggy");
        for (let i = 0; i < rids.length; i++) {
          if (rids[i].value.toString() === res.newchat._id) {
            const parent = rids[i].parentNode.parentNode;
            parent.removeChild(rids[i].parentNode);
            badgea.text(res.newchat.nreq);
            badgeb.text(res.newchat.nreq);
          } else continue;
        }
        if (res.code === 301) {
          return;
        } else {
          $('.notfound.chat').remove()
          $(".userChats").prepend(`  
          <li class="collection-item avatar Cards">
    <input class="chatids" type="hidden"  value="${res.newchat._id}"/>
    <img src="${res.newchat.img}" alt="" class="circle" height="50px" width="50px">
    <div class="indicator" style="background-color:${res.newchat.status === 'online' || res.newchat.anStatus === 'online'  ? 'rebeccapurple' : 'grey' };"></div>
    <div>
    <span class="title">   
       <a href="/chat/${res.newchat._id}" >
        ${res.newchat.name.split(' ')[0]} </a>

    </span>
    <p>
    <small class="brief">
      say hi to ${res.newchat.name.split(' ')[0]}
      </small>
    </p></div>
    <div class=" secondary-content">
        <small>
        </small>
    </div>
  </li>       
`);
        }
      });
  };
</script>
<script>
  let page = 1
  let height = 0
  const feedView = $('.feeds')
const loadFeed = () => {
  if(page == -1) return
  else if ((feedView.scrollTop === 0 || page == 1)) {
    height = feedView.scrollHeight;
    //$('.loader').css('display','flex')
    $('.feeds').append(`
    <div class="notfound feed">
      <small>Loading... </small></div>
    `)
    fetch(`/retrievefeeds?page=${page}`, {
      method: 'GET',
      credentials:'include',
      headers: {
        "csrf-token": document.querySelector('input[name="_csrf"]').value,
        "Content-Type": 'application/json'
      },
    })
      .then(res => res.json())
      .then(res => {
        $('.notfound.feed').remove()
       // $('.loader').css('display','none')
        page = res.next
        if(res.code === 301){
          page = -1
          section.scrollTop = 0
          return
        }
        else if (res.feeds.length > 0) {
          res.feeds.forEach((msg, i) => {
            $('#feeds').append(
            `<div class="feedcard Cards">
                  <div>
                    <p>Message:</p>
                  </div>
                  <div class="cardb">
                    <p>${ msg.message}</p>
                  </div>
                  <div class="cardf"><small>${ i+1}</small>
                     <i>sent: ${msg.time}</i></div>
                </div> `)
          })
        }else if(res.feeds.length <=0){
         return $('.feeds').append(`
          <div class="notfound feed">
            <small> you have got no feeds yet, why not
              share your feed link with loved ones to get
              the fun started <small></div>
          `)
        }
        feedView.scrollTop = feedView.scrollHeight - height
      }).catch(err=>{
      })

  }
}
</script>
<script>
  //script for search mechanism
  const search = (field) =>{
    const searchKey = $(field).val();
    fetch(`/searchuser`, {
          method: 'POST',
          credentials:'include',
          headers: {
            "csrf-token": document.querySelector('input[name="_csrf"]').value,
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            searchKey:searchKey
          })
        })
        .then(res=>res.json())
        .then(res=>{
          $('.chats-loader').css('display','none');
          $('.searchResult').html('');
          $('.searchResult.large').html('');
          if(res.result.length > 0){
            res.result.forEach(user=>{
              if(!user.pals){
                $('.searchResult').append(`

     <li class="collection-item avatar Cards">
    <input class="" type="hidden" value=""/>
    <img src="${user.img}" alt="" class="circle">
    <div>
    <span class="title">
        ${user.name.split(' ')[0]} 

    </span>
    <p>
    <small class="brief">
      ${user.desc}</small>
    </p></div>
    <div class=" secondary-content">
      <div>
      <button onclick="addUser('#chatString','${user.chatId}')">add</button>
    </div>
    </div>
  </li>
   `)
    return 
    }
   $('.searchResult').append(`
   
   <li class="collection-item avatar Cards">
    <input class="" type="hidden" value=""/>
    <img src="${user.img}" alt="" class="circle">
    <div>
    <span class="title">
        ${user.name.split(' ')[0]} 

    </span>
    <p>
    <small class="brief">
      ${user.desc}</small>
    </p></div>
    <div class=" secondary-content">
      <div>
        <a href="/chat/${user.id}">chat</a>
    </div>
    </div>
  </li>
              `)   
            })
          }
        })
      }
  const addUser = (field,val) =>{
    $('#chatString').val(val)
    joinHandler(field)
  }
  $('#startsearch').on('click',()=>search('#searchStringLarge'))
  $('#startsearchsmall').on('click',()=>search('#searchString'))
</script>
<script>
  //script for loading chats
    let next;
    let prev

  const loadChats = (action = '') =>{
    let page =1
    if(action === 'next'){
      page = next;
    }else if(action === 'prev'){
      page = prev
    }
    $('.chats-loader').css('display','block')
    fetch(`/loadchats?page=${page}`, {
          method: 'GET',
          credentials:'include',
          headers: {
            "csrf-token": document.querySelector('input[name="_csrf"]').value,
            "Content-Type": 'application/json'
          },
        })
        .then(res=>res.json())
        .then(res=>{
          $('.chats-loader').css('display','none');
          if(res.chats.length <= 0){
            $('#userChatsLarge').append(
              `<div class="notfound chat">
                <small> you don't have any chat yet
                  </small></div>`
            );
            return $('#userChatsSmall').append(
              `<div class="notfound chat">
                <small> you don't have any chat yet
                  </small></div>`
            )
          }
          next = res.next;
          prev = res.prev;

          if(res.hasNext){
       $('.pages ul').append(
         `<button onClick="loadChats('next')" class="next">Next</button>`
       )
     }else{
       $('.next').remove()
     }
     if(res.hasPrev){
      $('.pages ul').append(
         `<button onClick="loadChats('prev')" class="prev" >Prev</button>`
       )
     }else{
       $('.prev').remove()
     }
     $('.userChats').html('')
    res.chats.forEach((user,i)=>{
      $('#userChatsLarge').append(`
      <li class="collection-item avatar Cards"  style="background-color:${user.isNew ? 'white' : 'transparent' }">
    <input class="chatids" type="hidden" value="${user._id}"/>
    <img src="${user.img}" alt="" class="circle">
    <div class="indicator" style="background-color:${ user.status === 'online' || user.anStatus === 'online'  ? 'rebeccapurple' : 'grey' }"></div>
    <div>
    <div class="title">    
      <a href="/chat/${user._id}" >
        ${user.name.split(' ')[0]} </a>  
    </div>
    <p>
    <small class="brief">
      ${user.message.length > 24 ? user.message.substring(0,25)+' ...': user.message}
    </small>
    </p></div>
    <div class=" secondary-content">
        <small>
            ${user.time}
        </small>
    </div>
  </li>`);          
   $('#userChatsSmall').append(`
          <li class="collection-item avatar Cards"  style="background-color:${user.isNew ? 'white' : 'transparent' }">
    <input class="chatids" type="hidden" value="${user._id}"/>
    <img src="${user.img}" alt="" class="circle">
    <div class="indicator" style="background-color:${ user.status === 'online' || user.anStatus === 'online'  ? 'rebeccapurple' : 'grey' }"></div>
    <div>
    <div class="title">    
      <a href="/chat/${user._id}" >
        ${user.name.split(' ')[0]} </a>  
    </div>
    <p>
    <small class="brief">
      ${user.message.length > 24 ? user.message.substring(0,25)+' ...': user.message}
    </small>
    </p></div>
    <div class=" secondary-content">
        <small>
            ${user.time}
        </small>
    </div>
  </li>`)
          })
        })
      }
</script>
