<script>
  const LoadRequests = () => {
    fetch("/retrieverequest")
      .then((data) => data.json())
      .then((data) => {
        const badge = $(".controls button:nth-child(2) span");
        badge.text(data.requestLength);
        data.requests.forEach((req) => {
          $(".palsRequest").prepend(`
 
          <li class="collection-item avatar Cards">
      <input class="rid" type="hidden" value="${req.id}"/>
    <img src="${req.img}" alt="" class="circle" height="50px" width="50px">
    <div>
    <span class="title">   
        ${req.name.split(' ')[0]}
    </span>
    <p>
    <small class="brief">
      ${req.desc}
            </small>
    </p></div>
    <div class=" secondary-content">
  <button id="decline" onclick="chatRequestHandler('${req.id}','decline')">decline</button>
  <button id="grant" onclick="chatRequestHandler('${req.id}','grant')">accept</button>
    </div>
  </li>
 `);
        });
      });
  };
  //script for accepting and decline a chat
  const chatRequestHandler = (id, state) => {
    $(".spinner-cont").css("display", "flex");
    const token = $('input[name="_csrf"]').val();
    fetch("/chatrequest", {
      method: "POST",
      headers: {
        "csrf-token": token,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: id,
        state: state,
      }),
    })
      .then((res) => res.json())
      .then((res) => {
        $(".spinner-cont").css("display", "none");
        const rids = $(".rid");
        const badgea = $(".controls .smally");
        const badgeb = $(".controls .biggy");
        for (let i = 0; i < rids.length; i++) {
          if (rids[i].value.toString() === res.newchat._id) {
            const parent = rids[i].parentNode.parentNode;
            parent.removeChild(rids[i].parentNode);
           /* const nreq1 = badgea.text();
            const nreq2 = badgeb.text();
            const newVal1 = nreq1 != 0 ? parseInt(+nreq1) - 1 : 0;
            const newVal2 = nreq2 != 0 ? parseInt(+nreq2) - 1 : 0;
            */
            badgea.text(res.newchat.nreq);
            badgeb.text(res.newchat.nreq);
          } else continue;
        }
        if (res.code === 301) {
          return;
        } else {
          // remove user from requests list
          $(".userChats").prepend(`  
          <li class="collection-item avatar Cards">
    <input class="chatids" type="hidden"  value="${res.newchat._id}"/>
    <img src="${res.newchat.img}" alt="" class="circle" height="50px" width="50px">
    <div class="indicator" style="background-color:${res.newchat.status === 'online' || res.newchat.anStatus === 'online'  ? 'rebeccapurple' : 'grey' };"></div>
    <div>
    <span class="title">   
       <a href="/chat/${res.newchat._id}" >
        ${res.newchat.name.split(' ')[0]} </a>

    </span>
    <p>
    <small class="brief">
      say hi to ${res.newchat.name.split(' ')[0]}
      </small>
    </p></div>
    <div class=" secondary-content">
        <small>
        </small>
    </div>
  </li>       
`);
        }
      });
  };
</script>
<script>
  let page = 1
  let height = 0
  const feedView = $('.feeds')
const loadFeed = () => {
  if(page == -1) return
  else if ((feedView.scrollTop === 0 || page == 1)) {
    height = feedView.scrollHeight;
    //$('.loader').css('display','flex')
    fetch(`/retrievefeeds?page=${page}`, {
      method: 'GET',
      headers: {
        "csrf-token": document.querySelector('input[name="_csrf"]').value,
        "Content-Type": 'application/json'
      },
    })
      .then(res => res.json())
      .then(res => {
       // $('.loader').css('display','none')
        page = res.next
        if(res.code === 301){
          page = -1
          section.scrollTop = 0
          return
        }
        else if (res.feeds.length > 0) {
          res.feeds.forEach((msg, i) => {
            $('#feeds').append(
            `<div class="feedcard Cards">
                  <div>
                    <p>Message:</p>
                  </div>
                  <div class="cardb">
                    <p>${ msg.message}</p>
                  </div>
                  <div class="cardf"><small>${ i+1}</small>
                     <i>sent: ${msg.time}</i></div>
                </div> `)
          })
        }
        feedView.scrollTop = feedView.scrollHeight - height
      }).catch(err=>{
        alert('here')
        $('.loader').css('display','none')
      })

  }
}
</script>
<script>
document.addEventListener("DOMContentLoaded",()=> {
loadFeed()
});
</script>
<script>
  //script for search mechanism
  const search = (field) =>{
    const searchKey = $(field).val()
    fetch(`/searchuser`, {
          method: 'POST',
          headers: {
            "csrf-token": document.querySelector('input[name="_csrf"]').value,
            "Content-Type": 'application/json'
          },
          body: JSON.stringify({
            searchKey:searchKey
          })
        })
        .then(res=>res.json())
        .then(res=>{
          alert('here')
          $('.searchResult').html('')
          $('.searchResult.large').html('')
          if(res.result.length > 0){
            res.result.forEach(user=>{
              if(!user.pals){
                $('.searchResult').append(`

     <li class="collection-item avatar Cards">
    <input class="" type="hidden" value=""/>
    <img src="${user.img}" alt="" class="circle">
    <div>
    <span class="title">
        ${user.name.split(' ')[0]} 

    </span>
    <p>
    <small class="brief">
      ${user.desc}</small>
    </p></div>
    <div class=" secondary-content">
      <div>
      <button onclick="addUser('#chatString','${user.chatId}')">add</button>
    </div>
    </div>
  </li>
   `)
    return 
    }
   $('.searchResult').append(`
   
   <li class="collection-item avatar Cards">
    <input class="" type="hidden" value=""/>
    <img src="${user.img}" alt="" class="circle">
    <div>
    <span class="title">
        ${user.name.split(' ')[0]} 

    </span>
    <p>
    <small class="brief">
      ${user.desc}</small>
    </p></div>
    <div class=" secondary-content">
      <div>
        <a href="/chat/${user.id}">chat</a>
    </div>
    </div>
  </li>
              `)   
            })
          }
        })
      }

  const addUser = (field,val) =>{
    $('#chatString').val(val)
    joinHandler(field)
  }
  $('#startsearch').on('click',()=>search('#searchStringLarge'))
  $('#startsearchsmall').on('click',()=>search('#searchString'))
</script>
