<script>
  const socket = io();
  let timer;
  socket.on("disconnect", (reason) => {
    //refresh browser if server socket disconnects
    if (reason === "transport close") {
      timer = setTimeout(() => {
        alert("underlying connection lost please reload");
      }, 4000);
    }
  });
  socket.on("connect", (error) => {
    clearTimeout(timer);
  });
  //event for status
  socket.on("offline", (data) => {
    const cids = $("body").find(".chatids");
    for (let i = 0; i < cids.length; i++) {
      let cid = cids[i];
      if (cid.value.toString() === data.chat.toString()) {
        const indicator = cid.parentNode.children[1].children[0].children[0];
       indicator.style.backgroundColor = "grey";
      }
    }
  });

  socket.on("active", (data) => {
    const cids = $("body").find(".chatids");
    for (let i = 0; i < cids.length; i++) {
      let cid = cids[i];
      if (cid.value.toString() === data.chat.toString()) {
        const indicator = cid.parentNode.children[1].children[0].children[0];
       indicator.style.backgroundColor = "indigo";
      }
    }
  });
  //end of event for status
  socket.on("connect", (socketio) => {
    const uid = document.querySelector("#uid");
    //socket.emit("identify", uid.value);
  });

  socket.on("notification", (data) => {
    $('.feeds-window').append(
            `
            <div class="feedcard z-depth-1">
                  <div class="feed-title">
                    <p>Message:</p>
                  </div>
                  <div class="card-body">
                    <p>${data.message}</p>
                  </div>
                  <div class="card-footer"><small>${data.length}</small>
                     <i>sent: ${data.time}</i></div>
                </div> `)
      $('.feeds-window .notfound').remove();
      showToast('new anonymous mesage')
    feedWindow.scrollTop = feedWindow.scrollHeight;
   // $(".newfeedwindow").css("display", "none");
  });
  // tell others you are online
  //const id = document.querySelector('#uid').value;
  socket.on("denied", (data) => {
    $(".errdisplay").text(data.message);
    $(".errdisplay").css("display", "inline");
    $("#largeErr").text(data.message);
    $("#largeErr").css("display", "inline");
    setTimeout(() => {
      $(".errdisplay").css("display", "none");
      $("#largeErr").css("display", "none");
    }, 2600);
  });
  const showToast = (message)=>{
    let id;
          $('.b-toasts p').text(message);
          $('.b-toasts').css('display','block');
          id = setTimeout(()=>{
            $('.b-toasts').css('display','none');
            clearTimeout(id)
          },3000)
  }
  //listener for added chat
  socket.on("online", (data) => {
    const chatTiles = document.querySelector('.chats').children
    if (chatTiles.length >= 10) {
      document.querySelector('.chats').removeChild(chatTiles[chatTiles.length - 1])
    }
    //to notify other connected sockets
    const uid = document.querySelector("#uid").value;
    const inputs = $(".chatids");
    const chatsids = [];
    for (let i = 0; i < inputs.length; i++) {
      chatsids.push(inputs[i].value);
    }
    const isRendered = chatsids.some((id) => id === data.fid);
    if (!isRendered) {
      $('.chats .notfound').remove()
      $('.chats').prepend(`
      <div class="chat-tile" style="background-color:${data.isNew ? 'white' : 'transparent' }">
        <input class="chatids" type="hidden"  value="${data.fid}"/>
              <div class="chat-details">
                <div class="chat-img">
                  <div class="indicators" style="background-color:${ data.status === 'online' ||data.anStatus === 'online'  ? 'rebeccapurple' : 'grey' }"></div>
                  <img src="${data.img}" alt="${data.name}"/>
                </div>
                <div class="chat-main">
                  <a class="chat-name" href="/chat/${data.fid}" >
                   ${( data.name)} </a>
                  <p class="chat-desc">
                    say hi to ${ data.name}
                    </p>
                </div>
              </div>
              <div class="chat-controls">
                <small class="time"></small>
              </div>
            </div>
      `)
      const nDm = $('.dm.banner').text()
      const newDm = parseInt(nDm) + 1;
      $('.dm.banner').text(newDm);
      showToast('new chat!!!')
    } else if (isRendered) {
      const cids = $(".chats").find(".chatids");
      for (let i = 0; i < cids.length; i++) {
        if (cids[i].value.toString() === data.fid.toString()) {
          //const small = cids[i].parentNode.children;
          //const messageIdicator = cids[i].parentNode.children[1].children[1]//cid.parentNode.childNodes[3].childNodes[3].childNodes[0];
          //cids[i].parentNode.children[1].children[0].children[0].style.backgroundColor = 'rebeccapurple'//cid.parentNode.childNodes[3].childNodes[3].childNodes[0];
          //cids[i].parentNode.children[1].children[0].children[0].style.display = 'block'//cid.parentNode.childNodes[3].childNodes[3].childNodes[0];
        }
      }
    }
  });

  socket.on("activeUsers", (data) => {
    //for emitting socket
    const uid = document.querySelector("#uid");
    data.forEach((user) => {
      if (user._id == uid.value) {
        return;
      }
      $('.chats').append(`
      <div class="chat-tile" style="background-color:${user.isNew ? 'white' : 'transparent' }">
        <input class="chatids" type="hidden"  value="${user._id}"/>
              <div class="chat-details">
                <div class="chat-img">
                  <div class="indicators"style="background-color:${ user.status === 'online' || user.anStatus === 'online'  ? 'rebeccapurple' : 'grey'}"></div>
                  <img src="${user.img}" alt="${user.name}"/>
                </div>
                <div class="chat-main">
                  <a class="chat-name" href="/chat/${user._id}" >
                   ${(user.name)} </a>
                  <p class="chat-desc">
                    say hi to ${user.name}
                    </p>
                </div>
              </div>
              <div class="chat-controls">
                <small class="time"></small>
              </div>
            </div>
      `)
     /* $(".userChats").append(`  
      
      <li class="collection-item avatar Cards" style="background-color:${ user.isNew ? 'white' : '' }">
    <input class="chatids" type="hidden" value="${user._id}"/>
    <img src="${user.img}" alt="" class="circle">
    <div class="indicator" style="background-color:${ user.status === 'online' || user.anStatus === 'online'  ? 'rebeccapurple' : 'grey'}"></div>
    <div>
    <span class="title">   
       <a href="/chat/${user._id}" >
        ${user.name} </a>

    </span>
    <p>
    <small class="brief">
      say hi to  ${user.name}
      </small>
    </p></div>
    <div class=" secondary-content">
        <small>
        </small>
    </div>
  </li>
  `);*/
    });
  });

  //gets start chat button
  const joinHandler = (fieldtoselect) => {
    //obtain the inputed chat string
    const chatString = ( $(fieldtoselect).val());
    const token = $('input[name="_csrf"]').val();
    if (!chatString || chatString === "") {
    //  $(".errdisplay").text("field cannot be empty").css("display", "block");
    //  $("#largeErr").text("field cannot be empty").css("display", "block");
      return;
    }
    showIndicator();
    fetch("/addchat", {
      method: "POST",
      headers: {
        "csrf-token": token,
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        chatString: chatString,
      }),
    })
      .then((res) => res.json())
      .then((res) => {
      hideIndicator()
        if (res.code === 400) {
          showToast(res.message);
          $(fieldtoselect).val('')
        } else if (res.code === 200) {
          showToast('request sent successfully');
          $(fieldtoselect).val('')
        }
      });
  };
  socket.on("disconnect", () => {
    socket.disconnect(true);
  });
  socket.on("notify", (data) => {
    //data should contain the last message in the list
    //data should also contain the no of new messages
    let inList = false
    const cids = $(".chats").find(".chatids");
    for (let i = 0; i < cids.length; i++) {
      let cid = cids[i];
      if (cid.value.toString() === data.id.toString()) {
        inList = true;
        const tile = cid.parentNode.children;
        const messageIdicator = tile[1].children[1].children[1];
        const time = tile[2].children[0];
        messageIdicator.textContent = ""; 
        data.withImage?messageIdicator.innerHTML =`<span class="withImage" style="display:flex;align-items:center;"><i class="material-icons thumbnail">insert_photos</i>${messageIdicator.textContent =  data.msg}</span>` : 
        messageIdicator.textContent = data.msg;
        time.textContent = " ";
        time.textContent = (data.time);
        //move the notification to the top
        const parent = $(".chats");
        //add to the top  of the list
        const content = cid.parentNode;
        cid.parentNode.remove();
        parent.prepend(content); 
        showToast('new message!!!')
        break
      } else {
        continue;
      }
    }
    //for large chat window
    /*const ids = $(".chats").find(".chatids");
    for (let i = 0; i < ids.length; i++) {
      let cid = ids[i];
      if (cid.value.toString() === data.id.toString()) {
        const time = cid.parentNode.children[4].children[0];
        const messageIdicator = cid.parentNode.children[3].children[1].children[0]//cid.parentNode.childNodes[3].childNodes[3].childNodes[0];
        messageIdicator.textContent = "";
        messageIdicator.innerHTML = "";
        data.withImage?messageIdicator.innerHTML =`<span class="withImage" style="display:flex;align-items:center;"><i class="material-icons thumbnail">insert_photos</i>${messageIdicator.textContent = data.msg.length > 25 ? data.msg.substring(0, 12) + '...' : data.msg}</span>` : messageIdicator.textContent = data.msg.length > 25 ? data.msg.substring(0, 25) + '...' : data.msg;
        //messageIdicator.textContent = data.msg.length > 25 ? data.msg.substring(0, 25) + '...' : data.msg;
        time.textContent = " ";
        time.textContent = ( data.time);
        //move the notification to the top
        const parent = $("#userChatsLarge");
        //add to the top  of the list
        cid.parentNode.parentNode.style.backgroundColor = "#fff";
        const content = cid.parentNode;
        cid.parentNode.remove();
        parent.prepend(content);
        return
      } else {
        continue;
      }
    } */
    if (!inList) $('.chats').prepend(`
      <div class="chat-tile" style="background-color:${data.isNew ? 'white' : 'transparent' }">
        <input class="chatids" type="hidden"  value="${data.id}"/>
              <div class="chat-details">
                <div class="chat-img">
                  <div class="indicators" style="background-color:${data.status === 'online' || data.anStatus === 'online'  ? 'rebeccapurple' : 'grey' }"></div>
                  <img src="${data.img}" alt="${data.name}"/>
                </div>
                <div class="chat-main">
                  <a class="chat-name" href="/chat/${data.id}" >
                   ${( data.name)} </a>
                  <p class="chat-desc">
                    ${data.withImage ?
        `<span class="withImage" style="display:flex;
        align-items:center;">
          <i class="material-icons thumbnail">insert_photos</i>
          ${data.msg}
            </span>` : data.msg}
                    </p>
                </div>
              </div>
              <div class="chat-controls">
                <small class="time">${data.time}</small>
              </div>
            </div>
      `)
  });

  //script for requests
  const chatsBtn = $('.controls button:nth-child(1)')
  const requestBtn = $('.controls button:nth-child(2)')
  const searchBtn = $('.controls button:nth-child(3)')
  requestBtn.on('click', () => {
    $(".errdisplay").css("display", "none");
    $("#largeErr").css("display", "none");
    $('.chats').removeClass('current')
    $('.search').removeClass('current')
    $('.addById').removeClass('current')
    $('.searchcontrols').removeClass('current')
    $('.requests').addClass('current')
    requestBtn.css('display', 'none')
    chatsBtn.css('display', 'inline-block');
    $('.searchResult').html('');
    $('.searchResult.large').html('');
  })
  chatsBtn.on('click', () => {
    $(".errdisplay").css("display", "none");
    $("#largeErr").css("display", "none");
    $('.requests').removeClass('current')
    $('.search').removeClass('current')
    $('.addById').removeClass('current')
    $('.searchcontrols').removeClass('current')
    $('.chats').addClass('current')
    requestBtn.css('display', 'inline-block')
    chatsBtn.css('display', 'none')
    $('.searchResult').html('');
    $('.searchResult.large').html('');
  })
  searchBtn.on('click', () => {
    $(".errdisplay").css("display", "none");
    $("#largeErr").css("display", "none");
    const currentText = searchBtn.text().substring(0, 6)
    if(currentText === 'Search'){
      $('.search').addClass('current')
      $('.searchcontrols').addClass('current')
      $('.chats').removeClass('current')
      $('.addById').removeClass('current')
      $('.searchResult').html('');
      $('.searchResult.large').html('');
      $('.searchResult').append(`
            <div class="search-vector">
              <i class="material-icons">search</i>
              <br>
              <p>Enter a name in the form above</p>
            </div>
          `)    
    
    }else {
      $('.chats').addClass('current')
      $('.search').removeClass('current')
      $('.addById').addClass('current')
      $('.searchcontrols').removeClass('current')
      $('.searchResult').html('');
      $('.searchResult.large').html('');
    }
    $('.requests').removeClass('current')
    searchBtn.text(`${currentText === 'Search' ? 'Add Chat' : 'Search'}`)
  })
  //new request event
  socket.on("new", (data) => {
    const badge = $('.req.banner')
    badge.text(data.requests);
    showToast('new chat request');
    $('.requests-window .notfound').remove()
    $('.requests-window').prepend(`
    <div class="chat-tile">
      <input class="rid" type="hidden" value="${data.fid}"/>
              <div class="chat-details">
                <div class="chat-img">
                  <img onclick="viewUserImage('${data.view}','${Date.now()}')" src="${data.img}" alt="${data.name}"/>
                </div>
                <div class="chat-main">
                  <p class="chat-name">${data.name}</p>
                  <p class="chat-desc">${data.desc}</p>
                </div>
              </div>
              <div class="chat-controls">
                <button id="decline" onclick="chatRequestHandler('${data.fid}','decline')">decline</button>
                <button id="grant" onclick="chatRequestHandler('${data.fid}','grant')">accept</button>
                <div class="mode-label">${data.isAnonymous?'anonymous':'open user'}</div>  
                </div>
            </div>
 `)
  });
</script>