<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link 
href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
    <link href="/css/materialize.min.css" rel="stylesheet"/>
    <link href="./inputs-color.css" rel="stylesheet"/>
    <link href="./newhome.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<main>
    <div class="background">
      <div id="modal2" class="modal modal-fixed-footer">
        <div class="modal-content">
          <div class="h4"><h4>SUGGESTION BOX</h4></div>
          <form method="POST" action="admin/suggestion">
            <p>Suggestion body</p>
            <div class="input-field col s12">
              <textarea id="suggestion" name="suggestion" class="materialize-textarea" placeholder="suggestion..."></textarea>                 
             </div>     
           </form>
        </div>
        <div class="modal-footer">
          <button class="modal-close waves-effect waves-green btn-flat" id="cancel">cancel</button>
          <button class="waves-effect waves-green btn-flat" id="send">Send</button>
        </div>
      </div>

      <header>
        <nav>
          <a id="showdd" class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">dehaze</i></a>
          <ul id="firstul">
            <li><a href="/" style="color:rgb(255, 136, 0)">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li> <a href="#features">FEATURES</a>
              <li><a href="/getstarted?login=true">LOGIN</a></li>
            </li>
          </ul>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/" style="color:rgb(255, 136, 0)">HOME</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="#about" style="color:grey">ABOUT</a></li>
            <li class="divider" tabindex="-1"></li>
            <li> <a  href="#features">FEATURES</a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/getstarted?login=true">LOGIN</a></li>
          </ul>
         
        </nav>
      </header>
      <section class="theme">
        <div class="showcase">
          <h2>SUMO MESSENGER!</h2>
           <div class="container"> 
  
  <!-- Full-width images with caption text -->
  <div class="image-sliderfade fade">  
    <div class="text">
      <p>Receive anonymous compliments </p>
      <p>from friends and loved ones </p>
    </div> 
  </div> 
             
    <div class="image-sliderfade fade"> 
    <div class="text">
    <p>Real time messaging with users</p>
    </div> 
  </div>              
    <div class="image-sliderfade fade"> 
    <div class="text">
    <p>Chat anonymously with users</p>
    </div> 
  </div>  
  
</div> 
<br> 
  
<!-- The dots/circles -->
<div style="text-align:center"> 
  <span class="dot"></span>  
  <span class="dot"></span>  
  <span class="dot"></span>    
 
</div>
   </div>
   <div class="join"><a href="/getstarted">JOIN NOW</a></div>
      </section>
      <div id="notifier" class="<%=save.length > 0? 'save': '' %>"><p>sent successfully!!!</p></div>
     <!-- <div id="sub-cont"><div class="sub"><button data-target="modal2" class="btn modal-trigger"><i class="material-icons">comment</i></button></div>-->
  </div>
    </div>
    <section class="about" id="about">
      <div><h4>About</h4></div>
      <div class="description">
        <p>Sumo messenger is an interactive messaging application, 
          which allows you engage in open conversations,secret conversations&
          provides you with a medium for knowing what your peers think about you through its
          anonymous feed implementations

        </p>
      </div>
    </section>
    <section class="features" id="features">
      <div class="features-title"><h4>Features</h4></div>
      <div class="featuresList">
        <div class="feature-tile">
          <div class="feature-circle z-depth-1">
            <i class="material-icons">invert_colors_off</i>
          </div>
          <div>
            <h5>Anonymity</h5>
            <p>Sumo ensures your identity is never revealed to the
              other party whom you are complimenting
            </p>
          </div>
        </div>    
             <div class="feature-tile">
          <div class="feature-circle z-depth-1">
            <i class="material-icons">wifi</i>
          </div>
          <div>
            <h5>Open chat</h5>
            <p>Sumo lets you engage in live conversations with loved ones.
              with your identity known to the other party
            </p>
          </div>
        </div> 
        <div class="feature-tile">
          <div class="feature-circle z-depth-1">
            <i class="material-icons">wifi_lock</i>
          </div>
          <div>
          <h5>Anonymous chat</h5>
          <p>Sumo also lets you go anonymous giving you the
            ability to share your deepest thoughts & secrets with your
            true identity completely hidden
          </p>
        </div>
        </div>     
           <div class="feature-tile">
          <div class="feature-circle z-depth-1">
            <i class="material-icons">bolt</i>
          </div>
          <div>
          <h5>Real time update</h5>
          <p>Receive instant updates as your friend and loved ones
            flood your feeds with their thoughts about you
          </p>
          </div>
        </div>      
          <div class="feature-tile">
          <div class="feature-circle z-depth-1">
            <i class="material-icons">terrain</i>
          </div>
          <div>
          <h5>Dark theme</h5>
          <p>Beautiful dark UI to help distinguish 
            when you are anonymous </p>
        </div>
        </div>

      </div>
    </section>
    <div id="sub-cont"><div class="sub"><button data-target="modal2" class="btn modal-trigger"><i class="material-icons">comment</i></button></div> 
  </main>   
  <footer>
    <div class="footer-copyright">
      © 2020 Sumo messenger
    </div>
    <div class="z-depth-2">Top</div>

  </footer>

  <script src="/js/materialize.min.js"></script>
  <script src="/js/jquery-3.4.1.min.js"></script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
    
    
var slideIndex = 0; 
showSlides(); // call showslide method 
   
function showSlides() 
{ 
    var i; 
  
    // get the array of divs' with classname image-sliderfade 
    var slides = document.getElementsByClassName("image-sliderfade");  
      
    // get the array of divs' with classname dot 
    var dots = document.getElementsByClassName("dot");  
  
    for (i = 0; i < slides.length; i++) { 
        // initially set the display to  
        // none for every image. 
        slides[i].style.display = "none";  
    } 
   
     // increase by 1, Global variable 
    slideIndex++;  
   
     // check for boundary 
    if (slideIndex > slides.length)  
    { 
        slideIndex = 1; 
    } 
   
    for (i = 0; i < dots.length; i++) { 
        dots[i].className = dots[i].className. 
        replace(" active", ""); 
    } 
   
    slides[slideIndex - 1].style.display = "flex"; 
    dots[slideIndex - 1].className += " active"; 
  
    // Change image every 2 seconds 
    setTimeout(showSlides, 3000);  
} 
//script for submitting suggestions
const sendBtn = $('#send')
sendBtn.on('click',()=>{
  $('form').submit()
})
//script for bottom sheet
const goBtn = $('#go')
goBtn.on('click',()=>{
  const link = $('#linktext').val();
  window.location.href = link

})
$('footer div:nth-child(2)').on('click',()=>{
  window.scrollTo(0,0)
})
  </script>
</body>
</html>