<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" rel="stylesheet"/>
    <link href="/error.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <nav>
            <h3>SUMO</h3>
           <div>
           <a href="/"><i class="material-icons">home</i></a> 
           <a href="/getstarted"><i class="material-icons">account_circle</i></a> 
        </div>
        </nav>
    </header>
    <h1>404 page not found</h1>
</body>
</html>