<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" rel="stylesheet"/>
    <link href="/inputs-color.css" rel="stylesheet"/>
    <link href="/error.css" rel="stylesheet"/>
</head>
<body class="body">
    <%- include('modal.ejs',{
        title:'REPORT FORM',
        link:'/report',
        type:'report',
        csrf:csrfToken
      })%>
    <header>
        <nav>
            <h3>SUMO</h3>
           <div>
           <a href="/"><i class="material-icons">home</i></a> 
           <a href="/getstarted"><i class="material-icons">account_circle</i></a> 
        </div>
        </nav>
    </header>
    <section>
    <h1> Ooops!!!</h1>
    <p>An unexpected error seems to have occured. Head back to the page
        you were in before this error occured and refresh, else if you
        manually inputed the url please check if your spellings are correct
        and necessary parameters are supplied. Or you can report the
        error if it persists.
    </p>
    <div class="report">
        <button class="modal-trigger" data-target="modal2">Report <i class="material-icons">bug_report</i></button>
    </div>
</section>
<script src="/js/materialize.min.js"></script>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);})
    //https://drive.google.com/thumbnail?authuser=0&sz=w50&id=1ZJ7yh_4zEiQmDLt3VatVO-QPbbGIUe7y
   // https://drive.google.com/thumbnail?authuser=0&sz=w50&id=1ZJ7yh_4zEiQmDLt3VatVO-QPbbGIUe7y
    const sendBtn = document.querySelector('#send')
sendBtn.addEventListener('click',()=>{
    document.querySelector('form').submit()
    document.querySelector('form').reset()
})
</script>
</body>
</html>