<div class="spinner-modal-cont">
    <div class="spinner-modal">
     <div class="spinner-error" >
       <small>errordofksdlfjfskfjkfsjfksfjskfsjkfsjfksjfskfjk</small>
       <div style="margin-top:8px ;">
        <button class="okay">OK!</button></div>
      </div>
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    </div>