<div id="bg"></div>
<div class="upload-modal">
    <div class="modal-upload">
      <div class="btn-close">
        <button style="padding:4px"> X </button>
      </div>
     <div class="file-cont"> <input  type="file" placeholder="upload"/>
     </div>
     <div class="upload-error" >
       <small>error</small>
       <div style="margin-top:12px ;"><button class="okay">OK!</button></div>
      </div>
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    </div>