* {
  margin: 0;
  padding: 0;
}
@-webkit-keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
.showBody{
  -webkit-animation-name: showbody;
          animation-name: showbody;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: Rubik;
  min-width: 312px;
  overflow-x: hidden;
  overflow: hidden;
}
.spinner-cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5000000;
}
section {
  height: 100%;
  margin: auto;
}
.window {
  height: 100%;
}
/* nav code */
nav,
header {
  background-color: rebeccapurple;
  width: 100vw !important;
  
}
 h2 {
  margin: 0;
  font-size: 2rem;
}
nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-options {
  width: 37%;
  max-width: 350px;
}
.nav-options i:hover,
.nav-options i:focus {
  color: orange;
}
nav i {
  color: #fff;
}
section.desktop {
  padding-top: 10px;
  max-width: 1000px;
  margin:auto
}
/* chat window css settings */
.feeds {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}
.new {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding:0 10px;
}
.new h3 {
  font-size: 0.9em;
  text-align: center;
}
.mychats {
  display: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.feeds h2 {
  margin-bottom: 5px;
  text-align: center;
  font-size:1.55em;
}
.feedcard {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  margin-left: 10px;
  border: thin solid rgba(0, 0, 0, 0.1);
  padding: 5px 8px;
  min-height: 85px;
  background-image: -webkit-gradient(linear,left top, right top,from(rebeccapurple),to(indigo));
  background-image: -o-linear-gradient(left,rebeccapurple,indigo);
  background-image: linear-gradient(90deg,rebeccapurple,indigo);
  background-color:indigo;
  border-radius: 5px;
}

.feedcard div:nth-child(1) p {
  font-size: 1.5em;
  /*color: rgba(0, 0, 0, 0.85);*/
  color:#fff;
}
.cardb {
  margin-bottom: 6px;
}
.cardb p {
  word-wrap: break-word;
  word-break: break-all;
  color:#fff;
}
.cardf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cardf i,
.cardf small {
  color: royalblue;
}
.cardf small{
  min-width:30px;
  min-height:30px;
  padding:5px;
  border-radius:100%;
  border:3px solid royalblue;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size:9px;
  color:#fff;
  font-weight: bold;
}
.cardf i{
  background-color:royalblue;
  padding:5px;
  border-radius:5px;
  color:#fff;
  font-size:.83em;
}
@media all and (min-width: 921px) {
  #slide-out, .sidenav-overlay{
    display:none!important;
    width:0px!important;
    height:0px!important;
    background-color:transparent
  }
  #largeNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
  }
  .mychats {
    display: block;
    width: 30%;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.01);
    overflow-y: scroll;
  }
  .profile-view{
    min-height: 150px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom:15px;
    padding-left:15px;
    margin-bottom: 10px;
  }
  .feeds {
    width: 70%;
    height: calc(100vh - 100px);
    overflow-y: scroll;
  }
  .window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .feedcard {
    width: 85%;
    margin: 10px auto;
  }
}
/* style for dropdown */
#showdd {
  display: none;
}
@media all and (max-width: 920px) {
  #showdd {
    display: block;
  }
  .nav-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 26px;
  }
  #showdd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
  }
  #largeNav {
    display: none;
  }
  nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 30px;
  }
  h2 {
    padding-left: 2px;
  }
  .dropdown-content {
    min-width: 200px;
    overflow: hidden;
  }
  ul li a {
    color: rebeccapurple !important;
  }
  ul li {
    margin: 0;
  }
  ul li i {
    color: indigo !important;
  }
  .sidenav-trigger {
    width: 100%;
    margin: 0 !important;
  }
}
/*animation play ground*/
.Cards {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes flip {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
.collection{
  border:none
}
.collection-item.avatar{
  border-bottom:thin solid #ccc!important
}
.collection-item p, .collection-item span{
  height:25px
}
.indicator{
  position: absolute;
  top:70%;
  left:40px;
  border:thin solid royalblue;
  z-index: 999999999999999999999999999999;
}
.images-cont img{
  height:50px;
  width:50px
}
.collection-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.collection-item p{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.inform{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(212, 101, 101, 0.657);
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.inform p{
  color:rgb(226, 37, 37);
  padding:5px 0;
}
.inform span{
  margin-left:20px;
  color:rgba(0, 0, 0, 0.65);
  text-decoration: underline;
  font-family: Rubik;
  cursor: pointer;
}
.notfound{
  text-align: center;
  margin-top: 30px;
  color:indigo
}
.notfound.feed{
  height:70%;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.next, .prev{
  background: none;
  padding:8px;
  border:none;
  background-color:rgba(0, 0, 0, 0.019);
  border-radius: 5px;
  margin-left:20px;
}
#grant{margin-left:5px}
#decline,#grant{
  padding:3px;
  border:thin solid #ccc;
  border-radius: 5px;
}
.thumbnail{
  width:24px
}