*{
  margin:0;
  padding:0;
  font-family:Rubik;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@-webkit-keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
.showBody{
  -webkit-animation-name: showbody;
          animation-name: showbody;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body{ 
  overflow: hidden;
  min-width:312px;
  opacity:0;
}
nav{
  background-color: indigo;
  margin:0;
  overflow:hidden;
  line-height: 0;
  padding: 10px 0px 5px 5px;
  height:auto;
  display: flex;
}

#info{
  padding:0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img-title-cont{
  min-width: 85%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img-cont{
  width:28%;
  max-width: 52px;
  min-width:50px;
  height:50px;
  border-radius: 50%; 
  margin-right: 12px
}
.img-cont img{
  height:100%;
  width:100%;
  border-radius: 50%;
}
nav div:nth-child(1) p{
  font-size:2em;
  color:#fff;
  font-weight:bold;
  margin:0;
  padding:0;
  line-height: 30px;
  width:100%;
  max-width:580px;
  min-width:100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#name{
  width:70%;
  min-width: 180px;
}
nav div:nth-child(1) p::first-letter{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
.hnav ul {
  list-style:none;
}
.hnav ul li {
  display:inline-block;
  margin-right:9px
}
.hnav  ul li a{
  color:#fff;
  font-weight:bold;
}
#details{
  margin:0px 0;
  line-height: 10px;
}
#status{
  color:#fff;
  margin:0;
  margin-left:5px;
  display:block
}
#typing{
  display:none;
  color:#fff;
}
section{
  height:100vh;
  overflow-y:scroll;
  overflow-x: hidden;
  min-width:340px;
}
@media all and (max-width:340px){
  section,body{
    overflow-x: scroll;
  }
}
.input{
  padding:15px;
  background-color: rgb(170, 111, 230);
  width:100%;
  min-height:15%;
}
.ctrl,.preview{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
  margin: auto;
  color:white;
}
.input textarea{
  height:45px;
  width:80%;
  padding:10px 45px 0 7px;
  font-size: 1.2em;
  color:#fff;
}

.openEmoji{
  height:45px;
  width:10%;
  padding:5px;
  background: none;
  border:none;
  margin-right: 5px;
}
.openEmoji i{
  font-size:2.5em;
}
.input button[type="submit"]{
  width:10%;
  height:45px;
  min-width:70px;
  border-radius:50%;
  border:none;
  background-color: rebeccapurple;
  color:#fff
}
.emoji-container{
  max-width:650px;
  min-height:40px;
  margin:auto;
}
.chats::-webkit-scrollbar {
  display: none;
}
.chats { 
overflow: -moz-hidden-unscrollable; 
}
/* Hide scrollbar for IE and Edge */
.chats {
  -ms-overflow-style: none;
}
.chats{
 /*background-color: violet;*/
 background-color:rgba(0,0,0,.02);
 height:auto;
 min-height:75%;
 overflow-y: scroll;
}
.chat{
/*  background: #72b8ff;*/
  background:#fff;
  border-radius:20px;
  display: inline-block;
  padding:10px;
  color:rebeccapurple;
  font-weight:lighter;
  font-size: small;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  margin:5px;
  position: relative;
  min-width:70px;
  max-width:85%;
  word-break: break-all;
  word-wrap:break-word;
}
.chat.u1{
  float:left;
  clear: both;
  border-top-left-radius: 0px;
  margin-left: 10px;
}
.chat.u1:before{
  content:'';
  width:0px;
  height:0px;
  display:block;
  border-left: 5px solid transparent;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  position: absolute;
  top:0;
  left:-10px;
}
.chat.u2{
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  color:#fff;
  background:rebeccapurple;
  margin-right:10px
}
  .chat.u2:before{
  content:'';
  width:0px;
  height:0px;
  display:block;
  border-left: 5px solid rebeccapurple;
  border-right: 5px solid transparent;
  border-top: 5px solid rebeccapurple;
  border-bottom: 5px solid transparent;
  position: absolute;
  top:0;
  right:-10px;
}
.time{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size:.6rem;
}
.time i{
  font-size:.8rem
}
/* seetings for the emoji element as 
materialize overrides some predefined styles */
.emoji-container{
  max-width:650px;
  min-height:40px;
  margin:auto;
}
.emoji-footer{
height:60px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
#esearch{
  margin-left:10px;
  height:25px;
  width:150px;
  outline:none;
  border-radius:15px;
  border:none;
  background-color: #fff;
}
.cancel, #btn-search{
  color:yellow !important
}
/*dropdown */

.dropdown-trigger{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent!important;
  -webkit-box-shadow: none!important;
          box-shadow: none!important;
}
button.dropdown-trigger{
  -webkit-box-shadow: none;
          box-shadow: none;
          height:100%;
          width:5%;
          min-width:20px;
          max-width:56px;
          margin:0  30px 0 4px
}
.dropdown-content{
  min-width: 150px;
  overflow: hidden;
}
 #dropdown1 a{
  width:100%;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  color:indigo;
}
 #dropdown1 i{
  height:100%;
  color:indigo
}
 button.dropdown-trigger:hover{
  color:orange
}
.loader{
  display:none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding:7px 0;
  background-color:rgba(0,0,0,.02);
}
/* file input */
.ctrl{
  position:relative;
}
.fileCont,#file-open{
  position: absolute;
  display: inline-block;
  right:80px;
  top:5px;
  z-index:200
}
#file-input{
display:none
}
#file-open{
  right:5px;
  z-index:300;
  background: none;
  border:none
}
#file-open i{
  color:#fff;
  font-size:28px
}
.img-preview{
  height:70px;
  width:70px;
  border-radius:5px
}
.preview-cont{
  position: relative;
}
.preview-cont button{
  position: absolute;
  right:-5px;
  top:-4px;
  height:20px;
  width:20px;
  border-radius: 50%;
  border:none;
  padding:2px;
  background-color: rgba(0,0,0,.7);
}
.preview-cont button i{
  font-size:16px;
  color:rgba(255,255,255,.5)
}
.preview-cont button:hover{
  height: 21px;
  width:21px
}
.preview-cont button i:hover{
  font-size:17px;
  color:rgba(255,255,255,.9)
}
.mms-box{
  width:50%;
  max-width:300px;
  padding-right: 10px;
  overflow: hidden;
}
.mms-img{
  height:200px;
  width:100%;
  position: relative;
  padding-bottom:5px
}
.mms-img img{
  width:100%;
  height:100%;
  border-radius: 15px;
  opacity:.65;
  display:none
}
.blob img{display:block}
.mms-img a{
  position: absolute;
  bottom:8px;
  left:6px;
  padding:3px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.7);
  display:none;
  justify-content: center;
  align-items: center;
}
.blob a{display:flex}
.mms-img a i{
  color:#ccc
}
.mms-loading,.msg-loader{
  position: absolute;
  left:45%;
  top:40%;
}
.spinner-layer{
  border-color: rgba(255,255,255,.8);
}
.download-img{
  opacity:1!important
}
.u1 .mms-img img{
  border-top-left-radius: 0;
}
.reload{
  position: absolute;
  display:none;
  justify-content: center;
  align-items: center;
  top:40%;
  left:30%;
  color:#ccc;
  padding:10px;
  border-radius: 50px;
  border:none;
  background-color: rgba(0,0,0,.7);
  z-index:5000
}
.reload i{
  color:#ccc
}
.msg-loader .spinner-layer, .blob-loader.spinner-layer{
  border-color:indigo
}
.u2 .msg-loader .spinner-layer{
  border-color: #fff;
}
.mms-notify img, .mms-notify a{
display:'none'
}
.img-cont img{
  display:block!important
}