body{
    background-color: rgba(0,0,0,.01);
}
nav{
    background-color: rgba(0,0,0,.8);
    width:100vw;
}
.feedcard,.user-view,.profile-view{
    background-image: linear-gradient(90deg,rgba(0,0,0,.55),rgba(0,0,0,.89));
}
/* for side nav*/
/*.user-view,.profile-view{
    background-color: rgba(0,0,0,.85);
}*/
/*for chat page */ 
.chat.u2:before{
    border-left: 5px solid rgba(0,0,0,.69);
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,.69);
    border-bottom: 5px solid transparent;
}
  .input{
      background-color: rgba(0,0,0,.89);
  }
  .openEmoji i{
      color:#fff;
  }
  .send{
      background-color: rgba(0,0,0,.89)!important;
  }
  .chat.u2{
      background-color: rgba(0,0,0,.69);
  }
  /*for profile */
  .body{
      background-color: rgba(0,0,0,.04);
  }
  button.open-upload-modal{
      border: 2px solid #fff;
  }
/*for toggle */
.checkbox:checked + .toggle { 
    background-color:black;
  } 
  .user-image-cont{
      background-color: rgba(0,0,0,.89)!important;
  }