body.b{
    background-color:rgba(0,0,0,.75)
  }
  .nav,.tabs-section ul li{
    background-color:rgba(0,0,0,.8)!important;
    color:#ccc
  }
  .nav2 ul  li:nth-child(3) i{
    color:gray
  }
  .nav2{
    color:gray
  }
  .nav2 a i{
    color:gray!important
  }  
  .nav2 a i:hover{
    color:orange!important
  }
  section{
    background-color:rgba(0,0,0,0.25)!important
  }
  section.display,section.search-window{
    background-color: transparent!important
  }
  .tabs{
    border-bottom-color:grey!important ;
  }
  .app-name{
    color:darkgray
  }
  .fabbtn{
    background-color: grey;
  }
  .banner{
    background-color:grey;
    color:#000;
    font-weight: bold
  }
  .notfound p{
    color:darkgrey
  }
  .feedcard{
    border: 3px solid #cccccc45;
    color: #ccccccd4;
    background-color: transparent;
  }
  .card-footer small{
    border-color:#ccc9
  }
  /* end of feed card style */
  .chat-tile{
      background-color: transparent!important;
  }
  .chat-name{
    color:#ccc;
  }
  .chat-desc{
    color:darkgrey
  }
  .time{
    color:darkgrey
  }
  /* end of chat,request style */
  .profile-window label{
    color:#fff!important
  }
  .profile-heading,.profile-pic-cont{
    background-color:rgba(0,0,0,.6)!important
  }
  .profile-name,.profile-desc{
    color:grey;
  }
  button.upload-button{
    color:grey
  }
  .lay{
    border-color:rgba(255,255,255,.1);
    border-width:3px;
    border-bottom: none!important;
  }
  .profile-window input{
    color:#fff!important
  }
  .profile-window h4{
    color:#ccc
  }
  .ctrl button{
    border-color:#ccc;
    color:#fff
  }
  .go-anonymous p{
    color:darkgray
  }
  .checkbox:checked + .toggle{
    background-color: rgba(0,0,0,.8)
  }
  .delete-btn{
    border-color:#ccc;
    color:#fff
  }
  /*end of profile style */
  div.search-results{
      background-color:transparent!important ;
  }
  .search-results input{
    color: #cccc
  }  
  .search-results h4{
    color: #cccc
  }
  .spinner-layer{
    border-color:#000
  }
  /*chat page */
  body.chatPage{
    background-color: #ccc!important;
  }
  .chatPage textarea{
    border-color: #000!important;
  }
  .emoji-footer{
    background-color: rgba(0,0,0,.85);
  }
  .chatpage.nav .nav2 ul li{
    color:#fff
  }
  .input{
    background-color: rgba(0,0,0,0.5);
  }
  button.send{
    background-color: rgba(0,0,0,.8)!important;
  }
  .chat.u2{
    background-color: rgba(0,0,0,.6)!important;
    box-shadow: none!important;
  }
  .chat.u2::before{
    border-left: 5px solid rgba(0,0,0,.6);
    border-top: 5px solid rgba(0,0,0,.6);
  }
  .chat.u2 .time{
    color:#e6e6e6!important
  }
  /*inputs*/
  input:focus, textarea:focus {
    border-bottom: 1px solid #000!important;
    box-shadow: 0 1px 0 0 #000!important;

  }