*{
    padding:0;
    margin:0;
}
body.body{
    min-width:320px;
    background-color:orange;
}
h1,h3{
    text-align: center;
    margin:0!important;
    font-size:1.8em;
    font-weight: bold;
    padding-left:5px;
}
nav{
    background-color: #1a237e;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: flex;
    margin-right:25px
}
nav a:nth-child(2){
    margin-left:25px
}
/* comfirmation css codes */
body.body h1{
    padding:12px 8px;
    color:#fff
}
body.body p{
    padding:0 11px;
    color:#fff;
    letter-spacing: 1px;
}
.report{
    margin-top: 18px;
}
.report, .report button{
    display:flex;
    justify-content: center;
}
.report button{
    border:none;
    border: thin solid #fff;
    background: none;
    align-items: center;
    padding:6px;
    border-radius: 25px;
    width:100px;
    color:#fff
}
.report button:hover{
    background-color: indigo;
    border: thin solid indigo;
    font-size:1.3em
}
.form-cont small{
    color:#000;
    letter-spacing: 1px;
}
.form-cont textarea{
    height:150px;
    padding:10px 0 0 7px;
    border:thin solid #ccc;
    border-radius: 5px;
    margin-top:20px
}
textarea:focus, textarea:active{
    border:thin solid #ccc!important;  
}