  /* label color */
   label {
    color:rebeccapurple!important;
  }
  /* label focus color */
   input:focus + label {
    color: rebeccapurple!important;
  }
  /* label underline focus color */
   input:focus, textarea:focus {
    border-bottom: 1px solid rebeccapurple!important;
    box-shadow: 0 1px 0 0 rebeccapurple!important;

  }
  /* valid color */
  .input-field input.valid {
    border-bottom: 1px solid rebeccapurple!important;
    box-shadow: 0 1px 0 rebeccapurple!important;
  }
  /* invalid color */
  .input-field input.invalid {
    border-bottom: 1px solid rebeccapurple!important;
    box-shadow: 0 1px 0 0 rebeccapurple!important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color:rebeccapurple!important;
  }