
*{
  padding:0;
  margin:0;
  font-family: Rubik;
}
@-webkit-keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes showbody{
  from{
    opacity:0
  }
  to{
    opacity:1
  }
}
.showBody{
  -webkit-animation-name: showbody;
          animation-name: showbody;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body{
  opacity:0;
}
nav{
  background-color: #1a237e;
  height:inherit;
  color:#fff;
}
h2{
  margin: 0;
  font-size: 2.5rem;
  font-weight:bold;
  margin-left:15px;
  padding:5px;
}
nav div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-body{
  border-radius:6px;
  padding-left: 5px;
}
.home{
  margin-right:20px;
}
.view{
  font-size:1.7em;
}
.resetNav{
  margin-right:20px;
}
.resetNav a:nth-child(1){
  margin-right:35px
}
.forgotPass{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top:15px;
  padding-right: 18px;
}
.forgotPass a:hover{
  color:rebeccapurple;
  text-decoration: underline;
}
.warning-board, .success{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top:10px;
}
.warning-board p {
  background-color: rgba(214, 87, 87,.3);
  padding:12px;
  color:red;
  border-radius: 5px;

}
.success p{
  padding:12px;
  background-color: rgba(106, 173, 106, 0.445);
  color:green;
}
.form-body{
  width:75%;
  max-width:550px;
  margin:auto;
  margin-top:10px;
  padding-bottom:30px;
  margin-bottom:20px;
  min-width:350px
}
#login{
  margin-top:5px;
}
#signup,#login{
  padding-top:5px;
  padding-right:20px;
}
.warn small{
  margin-left:39px;
}
label[for="name"]::after,label[for="pwd"]::after,label[for="cpwd"]::after{
content: '*'
}
label[for="pwd"]::after{
  content: ' :min 5 characters *';
  font-size:.8em;
}
.button{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button button{
  padding:10px;
  background: none;
  border-radius: 5px;
  border:none;
  background: indigo;
  color:#fff;
  font-weight: 600;
}
.display{
  display:none
}
.other{
  display:none;
  position:fixed;
  text-align: center;
  padding-top:20px;
  height:80px;
  background-color: red;
  color:#fff;
  top:0;
  left:0;
  width:100%;
}
