*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
}
body{height:100vh; font-family:monospace;}
.active{color:darkorange!important;}
.hbw{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px 10px 15px;
  border-bottom: 4px solid rebeccapurple;
}
.hbw div:nth-child(1) p{
  font-size:2em;
  color:rebeccapurple;
  font-weight: bold;
}
.hnav div:nth-child(1){
  padding:10px;
  margin-top:5px;
  display:flex;
  flex-direction: row-reverse
}
a{text-decoration: none;}
.hnav div:nth-child(1) a{
  background-color:rgba(0,0,0,.3);
  padding:5px;
  border-radius:5px;
  color:ghostwhite;
}
.hnav div:nth-child(2) ul {
  list-style:none;
}
.hnav div:nth-child(2) ul li {
  display:inline-block;
  margin-right:9px
}
.hnav div:nth-child(2) ul li a{
  color:rebeccapurple;
  font-weight:bold;
}
.hnav div:nth-child(2) ul li a:hover{
  color:darkorange;
}

section .jumbo{
  background-color:indigo;
  height:150px;
  display:flex;
  align-items: flex-end;
}
h2{
  font-size:2.5rem;
  padding-left:10px;
  padding-bottom:5px;
  color:#fff;
}
h2::first-letter{
 text-decoration-style: dotted
}
#details{
  margin-top:20px;
  padding-left:10px;
  display:flex;
  align-items: center;
}
.line{
  height:1px;
  background-color: #ccc;
  width:100%;
}
.lines{
  width:25px;
}
.lin{
  margin-right: 10px
}
#details p{
  padding: 0 5px;
  color:rgba(0,0,0,.65)
}
.info{
  margin-top: 30px;
  margin-left:20px;
}
input,textarea{
  border:none;
  border-bottom:thin solid #ccc;
  display:inline-block;
  width:60%;
  max-width:350px;
  background-color:#fff;
}
.input-field{
  width:76%
}
.wrappers{
  display: flex;
  align-items: center;
}
.ctrl, .cont{
  margin-bottom:8px
}
.ctrl{
  display:inline-block;
}
.temp{
  display:none;
}
.ctrl button{
  border:none;
  background-color:transparent;
  margin:0 10px
}
.ctrl button:hover{
  border:thin solid grey;
  padding:2px;
  border-radius: 5px;
}
#settingspage{
  margin-top:20px;
  margin-left:20px;
}
.anonymous{
  margin:30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password{
  margin-bottom:10px;
}
.change{
  display:none
}
label{
  display:block;
}
.changepassbtn{
  margin-top:10px
}
.logout{
  margin-bottom: 50px;
}


/*new configs */
.window{
  width:85%;
  min-height:72vh;
  margin:auto;
  border-radius: 5px;
  border:thin solid rgba(0,0,0,.015);
  margin-top:20px;
  max-width:680px;
}
.tabs{
  display: flex;
}

.chat.list a{
  display:flex;
}
.chat.list{
  width:85%;
  padding:10px;
}
.chat.list a{
  display:flex;
  color:black;
  justify-content: space-between;
  padding-right:20px;
  padding-left:15px;
  
}
.liststyle{
  display:flex;
  align-items: center;
}
.indicators{
  width:10px;
  height:10px;
  border-radius:5px;
  background-color:rebeccapurple;
  margin-right:5px
}
.names p{font-size:1.3em}
.chatCard{
  display:flex;
  justify-content: center;
  align-items: center;
  width:95%;
  margin:auto;
  margin-top:20px;
  border:thin solid #ccc;
  border-radius:5px;
}
.about{
  margin-left:25px;
  
}
.btncont{
  margin-right:15px;
}
.btncont button{
  border:none;
  background: none;
  color:deeppink
}
/*toggle css*/
h1 { 
  color: green; 
} 
      
/* toggle in label designing */ 
.toggle { 
  position : relative ; 
  display : inline-block; 
  width : 70px; 
  height : 22px; 
  background-color:#ccc; 
  border-radius: 30px; 
  border: 2px solid gray; 
} 
      
/* After slide changes */ 
.toggle:after { 
  content: ''; 
  position: absolute; 
  width: 30px; 
  height: 28px; 
  border-radius: 15px; 
  background-color: gray; 
  top: 0px;  
  left: 0px; 
  transition:  all 0.5s; 
}     
/* Checkbox cheked effect */ 
.checkbox:checked + .toggle::after { 
  left : 45px;  
} 
      
/* Checkbox cheked toggle label bg color */ 
.checkbox:checked + .toggle { 
  background-color: green; 
} 
      
/* Checkbox vanished */ 
.checkbox {  
  display : none; 
} 