*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.sidenav{
  background-color:rgba(255,255,255,.94);
  height:calc(100vh - 5px)
}
.user-view, .background, .profile-view{
background-color: indigo;
}
.name::first-letter{
  text-transform: capitalize;
}
.email{
  padding-left:5px
}
.controls button{
  width:48%;
  padding:5px;
  border:none;
  border-radius: 5px;
}
.requests{
  display:none!important;
}
.circle-badge{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin-left:5px;
  padding:0 2px;
  height:20px;
  width:20px;
  border-radius:50%;
  background-color: rebeccapurple;
  color:#fff;
  font-size:.68em;
}
.controls button:nth-child(2){
  margin-left:3px
}
.controls button:hover{
  background-color: rgb(120, 72, 149);
  color:#fff;
}
.controls button:focus{
  background-color: #ccc;
}
.join{
  width:80%;
  margin:auto
}
.join-btn{
  display: flex;
  flex-direction: row-reverse;
}
.names{
  padding-left:12px;
}
.request{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:10px 0;
  padding:0 8px
}
.controls button:nth-child(1){
  display:none
}
.search, .addById, .searchcontrols{
  display:none!important
}
.current{
  display: block!important;
}
small.errdisplay{
color: red;
margin-right:15px;
display:none;
}
.chats{
  display:none;
}
.chats div:nth-child(1) h2{
  font-size:2em;
  padding-left:10px;
}
.userChats{
  min-height:30%;
  height: 100%;;
}
.collection-item{
  padding-bottom: 0!important;
}
.collection-item.avatar{
  min-height:60px!important
}
.liststyle{
  display:flex;
  align-items: center;
}
.indicator{
  width:10px;
  height:10px;
  border-radius:5px;
}
.names p{
  font-size:1.3em;
}
.name{
  padding-left: 8px;
}

.brief{
  margin:0;
  padding:0;
  /*margin-left:15px;*/
  font-size:.76rem;
  color:rosybrown;
}
.pages{
  display: flex;
  justify-content: center;
}
.pages li{
  margin-left: 10px;
}
.pages ul{
  display:flex;
}
.join-btn button{
  border:thin solid #ccc;
  padding:3px;
  border-radius: 5px;
  width:48px;
}
.join-btn button:hover, 
.join-btn button:active,
.join-btn button:focus,
.controls button:focus,
.controls button:hover{
  background-color: rgba(106, 68, 134, 0.678);
  color:#fff;
}
.search.list{
  display:flex!important;
  justify-content: space-between;;
  align-items:center;
  padding-right:13px;
  border-bottom:thin solid #ccc;
}
.myModal{
  position: relative;
  width:100%; 
}
.modal-myModal{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  left:40%;
  z-index:20000000;
  margin:17px 0;
  height:50px;
  width:50px;
  background-color:rgba(0,0,0,.1)!important;
  border-radius: 3px;
  padding:4px;

}
.spinner-layer{
  border-color: indigo;
}
.search-loader, .chats-loader, .requests-loader{
  display:none
}