*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;
  font-family:Rubik;
}
body{
  height:100vh;
  width:100vw;
  font-family: Rubik;
  overflow:hidden;
  min-width:400px;
  margin: auto;
}
nav{
  background-color:indigo;
  min-height:125px;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 13px 0;
  line-height: 0px;
}
.my-title{
  height:50px;
  width:50px;
  margin-top:8px
}
.my-title img{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.nav-options{
  display:flex;
  justify-content: center;
  width:500px;
  padding-bottom: 10px;
}
.nav-options a{
  line-height: 12px;
  margin:0 40px;
}
.icon-desc{
  position: relative;
  left:-5px
}
.nav-options a:hover, .nav-options a:focus{
  color:orange
}
section{
  max-width:1200px;
  margin:auto;
  height:75vh;
  overflow-y: scroll;
}
@media all and (max-width:780px){
  section{
    height:95vh
  }
}
.window{
    min-height:72vh;
    border-radius: 5px;
    max-width:780px;
    min-width:320px;
    margin:auto;
    padding:0!important
}
.row{
  height:auto;
  max-height:95%;
  margin:0!important;
  padding:0!important;
  border-left:thin solid rgba(0,0,0,.08)
}
div.col{
  padding:0!important
}
/* new styles */
.firstdiv{
  height:200px;
}
.user-image-cont{
  position: relative;
  background-color: indigo;
  display:flex;
  align-items: center;
  width:100%;
}
.user-image-cont #showdd{
  position: absolute;
  right:0;
  margin-top:12px
}
#showdd i{
  font-size:24px
}
.pp, .profilePic{
  display:block;
  height:150px;
  width:150px;
  border-radius:75px;
}
.pp{
  margin-left: 40px;
  background-color: seagreen;
}
.text-small{
  padding-left:30px;
  font-size:2em;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%
}
.small-desc{
  font-size:.5em;
}
img{
  height:100%;
  width:100%
}
.upload{
  position:absolute;
  bottom:0;
  right:5px;
  width:200px;
}
span.title{
  overflow-y: hidden!important;
}
.upload-modal, .myModal{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,.5);
  width:100%;
  height:100%;
  z-index:560565605905940594050
}
.modal-upload, .modal-myModal{
  text-align: center;
  background-color:#fff;
  min-height:90px;
  min-width:100px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius:5px;
  position: relative;
  height:95px
}
.preloader-wrapper .spinner-layer{
  border-color: rebeccapurple!important;
}
.preloader-wrapper,.upload-error,.upload-modal, .myModal{
  display:none
}
.myPreloader{
  display:block
}
.upload-error small{
  color:red;
  padding:0 15px
}
.btn-close{
  width:100%!important;
  position: absolute;
  top:0;
  display:flex;
  justify-content: flex-end;
  padding:3px 0;
  padding-right:7px;
  margin-bottom:4px;
}
.upload-error{
  margin-top:9px
}
/*end of new styles */
#test1, #test2, #test3, #test4{
  height:100%;
  width: 100% !important;
  padding-top:0;
  background-color:rgba(0,0,0,.015);
}
.info{
  margin-top: 30px;
  margin-left:20px;
}
.new{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.new h3{
  font-size:.9em;
}
input,textarea{
  border:none;
  border-bottom:thin solid #ccc;
  display:inline-block;
  width:95%!important;
  background-color:#fff;
}
.input-field{
  width:100%
}
.wrappers{
  display: flex;
  align-items: center;
}
.ctrl, .cont{
  margin-bottom:8px
}
.ctrl{
  display:inline-block;
}
.temp{
  display:none;
}
.ctrl button{
  border:none;
  background-color:transparent;
  margin:0 10px
}
.ctrl button:hover{
  border:thin solid grey;
  padding:2px;
  border-radius: 5px;
}

.copy-btn{
  display:flex;
  justify-content: flex-end;
  margin-bottom:17px;
}
.copy-btn button{
  background: none;
  border: 2px solid rebeccapurple;
  padding:10px;
  color:rebeccapurple;
  border-radius:5px;
  font-weight:bold
}
.copy-btn button:hover{
  background-color: rebeccapurple;
  color:#fff;
}
.notifier{
  display:flex;
  justify-content: center;
  visibility: hidden;
}
.notifier p{
  color:#fff;
  padding:8px;
  background-color: rgba(0,0,0,.7);
  border-radius:5px;
  margin-top:24px;
}
#settingspage{
  margin-top:10px;
  margin-left:20px;
}
.anonymous{
  margin:30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password.open{
  margin-bottom:35px;
}
.password.open button{
  background: none;
  border: none;
  color:indigo
}
.password{
  margin-bottom:10px;
}
.change{
  display:none
}
label{
  display:block;
}
.changepassbtn{
  margin:10px 0;
  display: flex;
  justify-content: flex-end;
  width:85%;
}
.changepassbtn button{
  padding:7px;
  background: none;
  border-radius: 5px;
  border:2px solid rebeccapurple;
  color: rebeccapurple;
}
.changepassbtn button:hover, .changepassbtn button:active{
  border:2px solid rebeccapurple;
  background-color: rebeccapurple;
  color:#fff
}
#declined{
  color:red;
  margin-left:40px;
  display:none;
}

.logout{
  display:flex;
  justify-content: flex-end;
  margin-right: 30px;
   margin-bottom: 50px;
}
.delete{
  justify-content: flex-end;
}
.delete button{
  background:none;
  border: 2px solid rgb(245, 50, 50);
  color:rgb(245, 31, 31);
  padding:8px;
  border-radius:5px;
  font-weight:bold
}
.delete button:hover, .delete button:focus{
  background-color:rgb(245, 50, 50);
  color:#fff;
}
.indicators{
  width:10px;
  height:10px;
  border-radius:5px;
  background-color:rebeccapurple;
  margin-right:5px
}
.names p{
  font-size:1.3em
}
.about{
  margin-left:25px;
}
.btncont{
  margin-right:15px;
  display:flex;
  align-items: center;
}
.btncont button, .btncont a{
  border:none;
  height:40px;
  width:40px;
  background: none;
  color:rgb(238, 137, 137);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.btncont a{
  padding:7px;
  margin-right:11px;
  color:deeppink;
}
.btncont a:hover, .btncont a:active{
  background-color: rgb(253, 194, 226);
}
/*toggle css*/

/* toggle in label designing */ 
.toggle { 
  position : relative ; 
  display : inline-block; 
  width : 70px; 
  height : 25px; 
  background-color:#ccc; 
  border-radius: 30px; 
  margin-right: 15px;
} 
      
/* After slide changes */ 
.toggle:after { 
  content: ''; 
  position: absolute; 
  width: 30px; 
  height: 21px; 
  border-radius: 22px; 
  background-color:#fff; 
  top: 2px;  
  left: 2px; 
  transition:  all 0.5s; 
}     
/* Checkbox cheked effect */ 
.checkbox:checked + .toggle::after { 
  left : 35px; 
  background-color:#fff ;
} 
      
/* Checkbox cheked toggle label bg color */ 
.checkbox:checked + .toggle { 
  background-color:rebeccapurple 
} 
      
/* Checkbox vanished */ 
.checkbox {  
  display : none; 
} 
/*media queries */
@media all and (min-width:781px){
  #showdd{
    display:none;
  }
}
@media all and (max-width:500px){
  #test1,#test2,#test3,#test4{
    width:100%;
  }
}

.copy-btn, .copy, .input-field{
  width:95%;
  padding-right: 0;
  margin-right:0
}
.pages{
  display: flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom: 10px;
}
.pages a{
  display: inline-block;
  margin-left:30px
}
#board{
  display:none
}
.success{
  display:flex!important;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  height:45px;
  width:250px;
  margin:auto;
  padding:0 8px;
  margin-top:20px;
  border-radius: 5px;
  animation-name: show;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition: all 5s;

}
.success p{
  color:#fff;
  font-weight:bold
}
.icons-whatsapp{
  width:35px;
  height:35px;
  display:inline-block
}
.icons-whatsapp img{
  height:100%
}
.whatsapp{
  display:flex;
  align-items: center;
}
.small-title{
  display:none;
}
@keyframes show{
  from{
    opacity:1;
  }
  to{
    opacity:0;
    display: none;
    height:0px;
  }
}
@media all and (max-width:780px){
nav{
  display:none!important
}
.row,section,.window{
  margin-top:0!important;
  width:100%!important
}
.user-image-cont{
  position: relative;
  background-color: indigo;
  display:flex;
  align-items: center;
  width:100%;
}
.user-image-cont #showdd{
  position: absolute;
  right:0;
}
#showdd i{
  font-size:24px
}
.pp, .profilePic{
  display:block;
  height:150px;
  width:150px;
  border-radius:75px;
}
.pp{
  margin-left: 40px;
  background-color: seagreen;
}
.text-small{
  padding-left:30px;
  font-size:2em;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%
}
}

